{% extends "base.html" %}
{% block title %}Контакты{% endblock %}

{% block content %}
<h2 class="mb-4">Контакты</h2>

<p class="mb-3">
  По всем вопросам обращайтесь к студсовету Финансового факультета.
</p>

<div class="d-flex gap-3">
  <a href="https://vk.com/reusovet" target="_blank"
     class="btn btn-outline-primary d-flex align-items-center">
    <i class="bi bi-vk me-2 fs-4"></i> ВКонтакте
  </a>

  <a href="https://t.me/ffm_sovetreu" target="_blank"
     class="btn btn-outline-info d-flex align-items-center">
    <i class="bi bi-telegram me-2 fs-4"></i> Telegram
  </a>
</div>
{% endblock %}
